@model AutoTrade.Domain.Concrete.VehiclesDetails

@{
    ViewBag.Title = "Edit"+@Model.AutoModel;
}

<h2>Edit @Model.AutoModel</h2>

@using (Html.BeginForm("Edit", "AdminVehicle")){
        
    <div>@Html.EditorForModel()</div>
    
    <input type="submit" value="Save" />
    
    <button onclick="location.href='@Url.Action("VehiclesDigest", "AdminVehicle")';return false;">Cancel</button>
    
   @* @Html.ActionLink("Cancel and return to model digest", "VehiclesDigest")*@
}

<table id="priceHistory">
    <thead>
        <tr>
            <th>Date</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.History)
    {
        <tr>
            <td>@item.ChangeDate</td>
            <td>@item.Price</td>
        </tr>
    }
    </tbody>
</table>
