@model AutoTrade.Domain.Concrete.Brand


@{ViewBag.Title= (@ViewBag.Admin==0 ? "Create Brand " : "Edit " + @Model.Name);}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Edit", "AdminBrand"))
{
    <div class="well well-small">
        @Html.EditorForModel()
    </div>
    
    <input class="btn btn-primary" type="submit" value="Save" />
    
    <button class="btn btn-primary" onclick="location.href='@Url.Action("BrandsDigest", "AdminBrand")';return false;">Cancel</button>
    @*@Html.ActionLink("Cancel and return to List", "BrandsDigest")*@
    
}
